name: PR CI Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build and test
        run: |
                cd demo-app-1
                mvn clean test
                

      - name: Basic compile check
        run: |
                cd demo-app-1
                mvn clean compile
