name: PR CI Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build and test
        run: |
                cd demo-app-1
                mvn clean test
                

      - name: Basic compile check
        run: |
                cd demo-app-1
                mvn clean compile
       # -----------------------------
      # Docker Section
      # -----------------------------

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          cd demo-app-1
          docker build -t ${{ secrets.DOCKER_USERNAME }}/demo-app:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/demo-app:latest
